[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-cors-headers = "*"
django-filter = "*"
gunicorn = "*"
redis = "*"
django-redis = "*"
djangorestframework = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.13"
